/* Dont let the page get awkwardly wide on big screens */
body > div {
  max-width: 1200px;
}


/* Text inputs bottom margin prevents it from lining up nicely, so remove */
.form-group.shiny-input-container,
.selectize-control {
  margin-bottom: 0;
}

/* Top of page is a small grid of controls and info*/
#header {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  grid-gap: 0.5rem;
  align-items: flex-start;
}

/* Make header and todays weather take up whole width */
#header > h2   {
  grid-column: 1 / -1;
  margin-top: 0;
}
#todays_weather {
  grid-column: 1 / -1;
}

@media only screen and (max-width: 768px) {
  /* For small screens stack buttons and search */
  #header {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
  }
}

#contributing_stations {
  padding-bottom: 1rem;
}

/* The section header */
#contributing_stations span:nth-child(1){
  font-size: 1.2em;
}

/* Supplementary text is italic and smaller*/
#contributing_stations span:nth-child(2){
  font-size: 0.9em;
  font-style: italic;
}

/* Main section is flex layout so city with lots of stations wrap nicely*/
#station_info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.station_bubble {
  border:1px solid $black;
  border-radius: 9px;
  padding: 5px;
  margin: 5px;
  background: $secondary;
}

/* Make station bubble cards respect the colors of the theme */
.station_bubble > a {@extend .bg-secondary;}

/* Buttons are set at a fixed width and if content is too big it gets elipsed*/
button { width: 200px; }
button > div {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

#page-top {
  height: auto;
  width: 100vw;
  margin-left: calc(50% - 50vw);
  padding: 0;
  padding-top: 6PX;
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#current_theme {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-gap: 1rem;
  padding: 0 0.5rem;
}

/* Places the source link in upper right of page */
#source_link {
  font-size: 0.9rem;
  font-weight: lighter;
  padding: 0 0.5rem;
}

/* Make some wordy sections smaller */
.small_text {
  font-size: small;
}
