body {
  font-weight: 300;
}
body > div {
  max-width: 1200px;
}

.container-fluid > * {
  padding: 1.4rem;
  border-bottom: 1px solid #9797972e;
}

.container-fluid > *:last-child,
#source_link,
#settings_panel.hidden {
  border-bottom: none;
}

.form-group.shiny-input-container,
.selectize-control {
  margin-bottom: 0;
}

#header {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto) 2rem;
  grid-gap: 0.5rem;
  align-items: flex-start;
}

/* Make header and todays weather take up whole width */
#header > h2   {
  grid-column: 1 / -1;
  margin-top: 0;
}
#todays_weather {
  grid-column: 1 / -1;
}

@media only screen and (max-width: 768px) {
  /* For small screens stack buttons and search */
  #header {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
  }
}


#contributing_stations {
  padding-bottom: 1rem;
}

#contributing_stations span:nth-child(1){
  font-size: 1.2em;
}

#contributing_stations span:nth-child(2){
  font-size: 0.9em;
  font-style: italic;
}

#station_info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.station_bubble {
  border:1px solid $white;
  border-radius: 9px;
  padding: 5px;
  margin: 5px;
  background: $secondary;
}
/* Make station bubble cards respect the colors of the theme */
.station_bubble > a,
.action-button { color: $white; }


#data_info {
  font-size: small;
}


button { width: 200px; }
button > div {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

/* Places the source link in upper right of page */
#source_link {
  position: fixed;
  top: 5px;
  right: 5px;
  font-size: 0.9rem;
  font-weight: lighter;
  padding: 0;
}

#control_thresholds {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 500px));
  grid-gap: 2rem;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

#control_thresholds > div {
  font-size: 0.85rem;
}

span.cold {
  color: blue;
}

span.hot {
  color: blue;
}

#settings_panel button {
  font-size: 0.85rem;
  border: 1px solid;
}
#settings_panel {
  padding-top: 5px;
  padding-bottom: 0;
}
#settings_panel.hidden > div{
  height: 0;
  overflow: hidden;
}


