/* Dont let the page get awkwardly wide on big screens */
body > div {
  max-width: 1200px;
}

/* Give every first-child a nice padding and border to deliniate */
.container-fluid > * {
  padding: 1.4rem;
  border-bottom: 1px solid #9797972e;
}

/* Dont put the lower border at the end of the page or in the source-code link */
.container-fluid > *:last-child,
#source_link {
  border-bottom: none;
}

/* Text inputs bottom margin prevents it from lining up nicely, so remove */
.form-group.shiny-input-container,
.selectize-control {
  margin-bottom: 0;
}

/* Top of page is a small grid of controls and info*/
#header {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto) 2rem;
  grid-gap: 0.5rem;
  align-items: flex-start;
}

/* Make header and todays weather take up whole width */
#header > h2   {
  grid-column: 1 / -1;
  margin-top: 0;
}
#todays_weather {
  grid-column: 1 / -1;
}

@media only screen and (max-width: 768px) {
  /* For small screens stack buttons and search */
  #header {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
  }
}

#contributing_stations {
  padding-bottom: 1rem;
}

/* The section header */
#contributing_stations span:nth-child(1){
  font-size: 1.2em;
}

/* Supplementary text is italic and smaller*/
#contributing_stations span:nth-child(2){
  font-size: 0.9em;
  font-style: italic;
}

/* Main section is flex layout so city with lots of stations wrap nicely*/
#station_info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.station_bubble {
  border:1px solid $white;
  border-radius: 9px;
  padding: 5px;
  margin: 5px;
  background: $secondary;
}
/* Make station bubble cards respect the colors of the theme */
.station_bubble > a,
.action-button { color: $white; }

/* Buttons are set at a fixed width and if content is too big it gets elipsed*/
button { width: 200px; }
button > div {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

/* Places the source link in upper right of page */
#source_link {
  position: fixed;
  top: 5px;
  right: 5px;
  font-size: 0.9rem;
  font-weight: lighter;
  padding: 0;
}

/* Use grid to make thresholds two columns unless it's a small screen  */
#control_thresholds {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 500px));
  grid-gap: 2rem;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

#hide_settings {
  font-size: 0.85rem;
  padding: 5px 10px;
  border: 1px solid;
  margin-top: 4px;
}
#settings_panel {
  padding-top: 5px;
  padding-bottom: 1rem;
}


/* Make some wordy sections smaller */
.small_text {
  font-size: small;
}


