
body > div {
  max-width: 1200px;
}

.container-fluid > * {
  padding: 1.4rem;
  border-top: 1px solid #9797972e;
}

.container-fluid > *:nth-child(1),
#source_link {
  border-top: none;
}

#header {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto) 2rem;
  grid-gap: 0.5rem;
  align-items: flex-start;
}

#contributing_stations {
  padding-bottom: 1rem;
}

#contributing_stations span:nth-child(1){
  font-size: 1.2em;
}

#contributing_stations span:nth-child(2){
  font-size: 0.9em;
  font-style: italic;
}

#station_info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.station_bubble {
  border:1px solid black;
  border-radius: 9px;
  padding: 5px; margin: 5px
}

#data_info {
  font-size: small;
}

#header > h2   { grid-area: 1 / 1 / 2 / 4; margin-top: 0; }
#city-selector { grid-area: 2 / 2 / 3 / 3; }
#prev_city_btn { grid-area: 2 / 1 / 3 / 2; }
#rnd_city_btn  { grid-area: 2 / 3 / 3 / 4; }
#todays_weather {grid-area: -2 / 1 / -1/ -1;}

button { width: 200px; }
button > div {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

/* Places the source link in upper right of page */
#source_link {
  position: fixed;
  top: 5px;
  right: 5px;
  font-size: 0.9rem;
  font-weight: lighter;
  padding: 0;
}

#control_thresholds {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 500px));
  grid-gap: 2rem;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

#control_thresholds > div {
  font-size: 0.85rem;
  color: #515151;
}

span.cold {
  color: blue;
}

span.hot {
  color: blue;
}